<html>


body {font-family: 'Courier New', Courier, monospace}


#Home {font-family: 'Patrick Hand', cursive;
}

img #corgi {
    margin: left 360px;

}
img{
    border-radius: 8px;
  }

#furryfriend {
    font-size: 50px; 
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color:rgb(216, 112, 112)
}

#furryfriend {
  border: 1px solid rgb(17, 115, 200);
  border-radius: 5px;
}



  
 
      ul {
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
      }
      
      li a {
        color: #666;
      }
      
      a {
        color:rgb(17, 115, 200);
      }
      a:hover {
        color: rgb(216, 112, 112);
      }

      #buy {
        font-size: larger;
      }

      #somemore { 
        font-size:x-large;
      } 